{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Liste Utilisateurs
{% endblock %}

{% block body %}
	{{parent()}}
	<div class="container">
		<div class="row justify-content-center">
			<h1 class="text-center text-primary p-4">Liste Utilisateurs</h1>
		</div>

		<div class="row justify-content-center">
			<table class="table table-hover">
				<thead>
					<tr class="table-dark">

						<th scope="row">Nom</th>
						<td>Prenom</td>
						<td>Date Naissance</td>
						<td>Date Inscription</td>

					</tr>
          </thead>
          <tbody>


					{% for utilisateur in utilisateurs %}
						<tr class="{{ cycle(['table-primary', 'table-secondary'],loop.index0)}}">

							
							<td> {{utilisateur.nom}} </td>
							<td> {{utilisateur.prenom}} </td>
							<td> {{utilisateur.datenaissance | date("d-m-Y")}} </td>
							<td> {{utilisateur.dateinscription | date("d-m-Y")}} </td>
							<td><a href="{{path("modif_utilisateur",{'id':utilisateur.id})}}" class="text-dark"><span class="material-icons">create</span></td>


              
						</tr>
					{% endfor %}

				</tbody>
			</table>


		</div>
	{% endblock %}